# Neon PostgreSQL
DATABASE_URL="postgresql://user:password@host.neon.tech/tiffy-social?sslmode=require"
DIRECT_URL="postgresql://user:password@host.neon.tech/tiffy-social?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="gere-um-secret-com-openssl-rand-base64-32"
NEXTAUTH_URL="https://seudominio.com"
